<h1>Listing Messages</h1>

<%= search_form_for @q do |f| %>

  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>
  <br />
  <%= f.label :last_name_cont %>
  <%= f.search_field :last_name_cont %>

  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th><%= sort_link(@q, :first_name, 'First Name') %></th>
      <th>last Name</th>
      <th><%= sort_link(@q, :amount, 'Amount') %></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.email %></td>
        <td><%= message.first_name %></td>
        <td><%= message.last_name %></td>
        <td><%= message.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
